.logo-text{
    font-family: 'Great Vibes', cursive;
    font-size: 1.5rem;
    color:rgb(141, 32, 32);
}

.logo-symbol{
    color: rgb(101, 101, 93);
    font-size: 2rem;
}

/* .login-btn,.login-btn:hover{
    border: 3px solid black !important;
    border-radius: 1rem !important;
}

.login-btn:hover{
    background-color:rgb(141, 32, 32) !important;
    color: white !important;
    
}
 */

#map{
    height: 80vh;
    width: 100%;
}
